<html>
	<head>
		<title>Site do Gustavo</title>
	</head>

	<body>
		<div>
			<h1><a href="">Primeiro site</a></h1>
		</div>

		<div>

			<h2><a href="">My first post</a></h2>
			<p> Escrevo o que eu quiser aqui que vai aparecer na tela. </p>
			<p> published: 13/12/2017, 18:05</p>
		</div>

		<div>
			<h2><a href="">My second post </a></h2>
			<p> Isto ficara embaixo do post de cima,acredito eu.</p>
			<p>published: 13/12/2017, 18:10 </p>
		</div>

		<div>
			<h2><a href="">My thrid post </a></h2>
		</div>	
	</body>
</html>